apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: production
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: "kubernetes-pods"
        kubernetes_sd_configs:
          - role: pod

        relabel_configs:
          - action: keep
            source_labels:
              [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            regex: "true"

          - action: replace
            source_labels:
              [__meta_kubernetes_pod_annotation_prometheus_io_path]
            target_label: __metrics_path__
            regex: (.+)

          - action: replace
            source_labels:
              [__meta_kubernetes_pod_ip, __meta_kubernetes_pod_annotation_prometheus_io_port]
            separator: ":"
            target_label: __address__
            replacement: "$1:$2"

          - action: replace
            source_labels: [__meta_kubernetes_namespace]
            target_label: namespace

          - action: replace
            source_labels: [__meta_kubernetes_pod_name]
            target_label: pod

